name: Value Investing Bot

on:
  schedule:
    # 每天 UTC 06:00 (台灣 14:00) 執行一次即可
    - cron: '0 6 * * *'
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11' # 記得維持 3.11

    - name: Install dependencies
      run: |
        pip install yfinance mplfinance pandas requests

    - name: Run Python Script
      env:
        TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
        CHAT_ID: ${{ secrets.CHAT_ID }}
      run: |
        python bot.py
